
/*header*/

.header {
    
    width: 45%;
    margin-left: 27%;
    text-align: center;
    background-color: #00e5ff;
    border: 8px solid;
    border-top-color: #00d8ff;
    border-right-color: #00d8ff;
    border-bottom-color: #00a9ff;
    border-left-color: #00a9ff;
}

.instructions {
    font-size: 25px;
    width: 80%;
    margin: 4% 0 0 11%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(230, 132, 205);
    border: 2px solid rgb(0, 0, 0);
}

.random-number {
    width: 15%;
    text-align: center;
    background-color: #00e5ff;
    border: 8px solid;
    border-top-color: #00d8ff;
    border-right-color: #00d8ff;
    border-bottom-color: #00a9ff;
    border-left-color: #00a9ff;
    margin: 4% 0 0 43%;
    font-size: 4em;
}

.crystal-array {
    text-align: center;
    background-color:rgb(230, 132, 205);
    border: 2px solid rgb(0, 0, 0);
    width: 80%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 4% 0 0 11%;
}

.jewelry {
    height: 80px;
    width: 80px;
    border: 15px solid;
    margin: 0 2% 0 3%;
}

.ruby {
    border-top-color: #d4147e;
    border-right-color: #d4147e;
    border-bottom-color: #99004d;
    border-left-color: #99004d;
    background-color: #f80462;
}

.aventurine {
    border-top-color: #66dc00;
    border-right-color: #66dc00;
    border-bottom-color: #006600;
    border-left-color: #006600;
    background-color: #239900;
}

.redJade {
    border-top-color: #ff0000;
    border-right-color: #ff0000;
    border-bottom-color: firebrick;
    border-left-color: firebrick;
    background-color: #cc0000;
}

.gold {
    border-top-color: #faff00;
    border-right-color: #faff00;
    border-bottom-color: #c0a705;
    border-left-color: #c0a705;
    background-color: #dbb610;
}

.total-score {
    float: left;
    position: relative;
    text-align: center;
    background-color: #00e5ff;
    border: 8px solid;
    border-top-color: #00d8ff;
    border-right-color: #00d8ff;
    border-bottom-color: #00a9ff;
    border-left-color: #00a9ff;
    font-size: 3em;
    width: 26%;
    margin: 2% 0 0 22%;
    padding-bottom: 12px;
}

.wins-loses {
    float: right;
    position: relative;
    text-align: center;
    width: 26%;
    background-color: #00e5ff;
    border: 8px solid;
    border-top-color: #00d8ff;
    border-right-color: #00d8ff;
    border-bottom-color: #00a9ff;
    border-left-color: #00a9ff;
    margin-top: 2%;
    margin-right: 20%;
    font-size: 1.5em;
}